<div id="modal1" class="modal">
  <div class="modal-content">
    <h5>Term and Condition</h5>
    <p>The selected dates are temporarily blocked. To secure your booking please settle the payment until tommorrow.</p>
  </div>
  <div class="modal-footer">
    <%= link_to "Agree", root_path, :class => "modal-close waves-effect waves-green btn-flat" %>
  </div>
</div>
