@import "materialize-css/dist/css/materialize";

/* room details*/

.room-details-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.book-details {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 50px;
}
